In [1]:
import pandas as pd
from pandas import DataFrame, Series

In [2]:
s_1 = Series([1,2,3])
s_2 = Series([1,2,3])
s_3 = Series([1,2,3])

In [4]:
df = DataFrame([s_1,s_2])

In [5]:
df.loc[1]

0    1
1    2
2    3
Name: 1, dtype: int64

In [7]:
a = pd.Series([20, 15, 30, 25, 35], name='age')
b = pd.Series([68.5, 60.3, 53.4, 74.1, 80.7], name='weight')
c = pd.Series([180, 165, 155, 178, 185], name ='height')

human = pd.DataFrame([a,b,c])
human

            0      1      2      3      4
age      20.0   15.0   30.0   25.0   35.0
weight   68.5   60.3   53.4   74.1   80.7
height  180.0  165.0  155.0  178.0  185.0

In [8]:
print(human.loc['age'],'\n')
print(human.iloc[0, :],'\n')

0    20.0
1    15.0
2    30.0
3    25.0
4    35.0
Name: age, dtype: float64

0    20.0
1    15.0
2    30.0
3    25.0
4    35.0
Name: age, dtype: float64

In [10]:
print(human.loc[['weight', 'height']],'\n')
print(human.iloc[1:,:],'\n')

            0      1      2      3      4
weight   68.5   60.3   53.4   74.1   80.7
height  180.0  165.0  155.0  178.0  185.0

            0      1      2      3      4
weight   68.5   60.3   53.4   74.1   80.7
height  180.0  165.0  155.0  178.0  185.0

In [28]:
import numpy as np

x = np.array([[1, 572, 2, 219, 31, 6, 7, 8, 24, 10],
                  [12, 222, 33, 1, 2, 3, 99, 24, 1, 42],
                  [623, 2, 3, 56, 5, 2, 7, 85, 22, 110],
                  [63, 24, 3, 4, 5, 64, 7, 82, 93, 210],
                  [48, 28, 3, 24, 57, 63, 7, 8, 9, 102],
                  [333, 64, 3, 44, 5, 6, 72, 82, 3, 10],
                  [52, 242, 2, 41, 52, 6, 32, 8, 96, 2],
                  [33, 223, 52, 4, 35, 62, 7, 8, 9, 10],
                  [29, 2, 3, 149, 15, 6, 172, 2, 2, 11],
                  [94, 23, 32, 24, 54, 63, 1, 3, 92, 7]])

x[:,0].mean()

128.8

In [33]:
    prime = [2, 3, 5, 7, 11,13]
    
    # 소수(prime number)를 기반으로 2차원 배열을 생성해보세요.

In [36]:
np.array([prime] * 5)

array([[ 2,  3,  5,  7, 11, 13],
       [ 2,  3,  5,  7, 11, 13],
       [ 2,  3,  5,  7, 11, 13],
       [ 2,  3,  5,  7, 11, 13],
       [ 2,  3,  5,  7, 11, 13]])